* {
	padding: 0;
	margin: 0;
	align-content: center;
	background-color: black;
	color: white;
}
*::-webkit-scrollbar {
	display: none;
}

#container {
	left: 50%;
	transform: translate(-50%, 0);
	top: 200px;
	min-width: 50%;
	position: absolute;
	min-height: 640px;
	max-height: 640px;
	overflow-y: scroll;
	background-color: #121212;
	color: white;
	padding: 10px;
}
.relative {
	position: relative;
}
#stdout {
	position: fixed;
	width: 100%;
	height: 100%;
}
#stdout div {
	background-color: #121212;
	color: white;
}
#rx1 {
	top: 40px;
	left: 40;
	position: fixed;
	width: 30px;
}
#cp {
	position: fixed;
	width: 100%;
	bottom: 25px;
	left: 0;
	height: 20px;
	background-color: #121212;
	color: white;
}
#cp button {
	height: 20px;
	font-size: 1.5em;
	min-width: 50px;
}
input {
	width: 100%;
	bottom: 0px;
	left: 0;
	height: 20px;
	position: fixed;
	background-color: #333333;
	color: white;
}
canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}
